# Notebook to convert raw data to h5ad

**Created by :** Srivalli Kolla

**Created on :** 13 May, 2025

**Modified on :** 13 May, 2025

**University of WÃ¼rzburg**

Env : scanpy (Python 3.12.2)

# Importing Packages

In [50]:
import anndata as ad
import scanpy as sc
import pandas as pd
import os
import datetime

In [51]:
sc.settings.verbosity = 3
sc.logging.print_versions()

timestamp = datetime.datetime.now().strftime("%d_%m_%y")

-----
anndata     0.11.3
scanpy      1.10.4
-----
Cython                      3.0.12
PIL                         11.1.0
anyio                       NA
arrow                       1.3.0
asttokens                   NA
attr                        25.1.0
attrs                       25.1.0
babel                       2.17.0
certifi                     2025.01.31
charset_normalizer          3.4.1
colorama                    0.4.6
comm                        0.2.2
cycler                      0.12.1
cython                      3.0.12
cython_runtime              NA
dateutil                    2.9.0.post0
debugpy                     1.8.12
decorator                   5.2.1
defusedxml                  0.7.1
executing                   2.1.0
fastjsonschema              NA
fqdn                        NA
h5py                        3.13.0
idna                        3.10
igraph                      0.11.8
ipykernel                   6.29.5
ipywidgets                  8.1.5
isoduration                 NA
jedi                        0.19.2
jinja2                      3.1.6
joblib                      1.4.2
json5                       0.10.0
jsonpointer                 3.0.0
jsonschema                  4.23.0
jsonschema_specifications   NA
jupyter_events              0.12.0
jupyter_server              2.15.0
jupyterlab_server           2.27.3
kiwisolver                  1.4.7
legacy_api_wrap             NA
leidenalg                   0.10.2
llvmlite                    0.44.0
markupsafe                  3.0.2
matplotlib                  3.10.1
mpl_toolkits                NA
natsort                     8.4.0
nbformat                    5.10.4
numba                       0.61.0
numpy                       2.1.3
overrides                   NA
packaging                   24.2
pandas                      2.2.3
parso                       0.8.4
platformdirs                4.3.6
prometheus_client           NA
prompt_toolkit              3.0.50
psutil                      7.0.0
pure_eval                   0.2.3
pydev_ipython               NA
pydevconsole                NA
pydevd                      3.2.3
pydevd_file_utils           NA
pydevd_plugins              NA
pydevd_tracing              NA
pygments                    2.19.1
pyparsing                   3.2.1
pythonjsonlogger            NA
pytz                        2024.1
referencing                 NA
requests                    2.32.3
rfc3339_validator           0.1.4
rfc3986_validator           0.1.1
rpds                        NA
scipy                       1.15.2
send2trash                  NA
session_info                1.0.0
six                         1.17.0
sklearn                     1.6.1
sniffio                     1.3.1
stack_data                  0.6.3
texttable                   1.7.0
threadpoolctl               3.5.0
tornado                     6.4.2
traitlets                   5.14.3
typing_extensions           NA
uri_template                NA
urllib3                     2.3.0
vscode                      NA
wcwidth                     0.2.13
webcolors                   NA
websocket                   1.8.0
yaml                        6.0.2
zmq                         26.2.1
-----
IPython             9.0.1
jupyter_client      8.6.3
jupyter_core        5.7.2
jupyterlab          4.3.6
notebook            7.3.3
-----
Python 3.13.2 | packaged by conda-forge | (main, Feb 17 2025, 14:10:22) [GCC 13.3.0]
Linux-6.13.11-200.fc41.x86_64-x86_64-with-glibc2.37
-----
Session information updated at 2025-05-13 18:38

/home/gruengroup/srivalli/miniconda3/envs/scanpy/lib/python3.13/site-packages/session_info/main.py:213: UserWarning: The '__version__' attribute is deprecated and will be removed in MarkupSafe 3.1. Use feature detection, or `importlib.metadata.version("markupsafe")`, instead.
  mod_version = _find_version(mod.__version__)

In [52]:
base_dir = "./Github/Matthias_sn_data_2025/data"

samples = [
    d
    for d in os.listdir(base_dir)
    if os.path.isdir(os.path.join(base_dir, d)) and d.endswith("_count")
]

print(samples)

['SCC0203_1_Becker_GEX_D11_count', 'SCC0203_2_Becker_GEX_E5_count', 'SCC0203_2_Becker_GEX_E6_count', 'SCC0203_2_Becker_GEX_E7_count']

# Data export

1. Load matrix files
2. Add Sample name by splitting the id by '_' and considering only part before split(B3_Lib2 = B3)
3. Writing h5ad file in output path

In [53]:
for sample in samples:
    matrix_dir = os.path.join(base_dir, sample, "outs", "filtered_feature_bc_matrix")

    print(f"Loading matrix from {matrix_dir}...")
    adata = sc.read_10x_mtx(matrix_dir, var_names='gene_symbols', cache=True)
    sample_id = sample.split("_")[4]
    adata.obs['sample_name'] = sample_id
    
    out_file = os.path.join(base_dir, sample, f"{sample_id}_{timestamp}.h5ad")
    adata.write(out_file)

    print(f"Saved to {out_file}")

Loading matrix from ./Github/Matthias_sn_data_2025/data/SCC0203_1_Becker_GEX_D11_count/outs/filtered_feature_bc_matrix...
... reading from cache file cache/Github-Matthias_sn_data_2025-data-SCC0203_1_Becker_GEX_D11_count-outs-filtered_feature_bc_matrix-matrix.h5ad
Saved to ./Github/Matthias_sn_data_2025/data/SCC0203_1_Becker_GEX_D11_count/D11_13_05_25.h5ad
Loading matrix from ./Github/Matthias_sn_data_2025/data/SCC0203_2_Becker_GEX_E5_count/outs/filtered_feature_bc_matrix...
... reading from cache file cache/Github-Matthias_sn_data_2025-data-SCC0203_2_Becker_GEX_E5_count-outs-filtered_feature_bc_matrix-matrix.h5ad
Saved to ./Github/Matthias_sn_data_2025/data/SCC0203_2_Becker_GEX_E5_count/E5_13_05_25.h5ad
Loading matrix from ./Github/Matthias_sn_data_2025/data/SCC0203_2_Becker_GEX_E6_count/outs/filtered_feature_bc_matrix...
... reading from cache file cache/Github-Matthias_sn_data_2025-data-SCC0203_2_Becker_GEX_E6_count-outs-filtered_feature_bc_matrix-matrix.h5ad
Saved to ./Github/Matthias_sn_data_2025/data/SCC0203_2_Becker_GEX_E6_count/E6_13_05_25.h5ad
Loading matrix from ./Github/Matthias_sn_data_2025/data/SCC0203_2_Becker_GEX_E7_count/outs/filtered_feature_bc_matrix...
... reading from cache file cache/Github-Matthias_sn_data_2025-data-SCC0203_2_Becker_GEX_E7_count-outs-filtered_feature_bc_matrix-matrix.h5ad
Saved to ./Github/Matthias_sn_data_2025/data/SCC0203_2_Becker_GEX_E7_count/E7_13_05_25.h5ad

# Data merging

In [54]:
h5ad_paths = [
    os.path.join(root, file)
    for root, _, files in os.walk(base_dir,sample)
    for file in files
    if file.endswith(".h5ad")
]

In [55]:
adatas = [sc.read_h5ad(p) for p in h5ad_paths]

adata_combined = ad.concat(adatas, join='inner')
adata_combined

/home/gruengroup/srivalli/miniconda3/envs/scanpy/lib/python3.13/site-packages/anndata/_core/aligned_df.py:68: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)
/home/gruengroup/srivalli/miniconda3/envs/scanpy/lib/python3.13/site-packages/anndata/_core/anndata.py:1756: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

AnnData object with n_obs Ã n_vars = 79592 Ã 32285
    obs: 'sample_name'

In [56]:
adata_combined.obs

                   sample_name
0                          D11
1                          D11
2                          D11
3                          D11
4                          D11
...                        ...
TTTGTGGCAGTTATGT-1          E7
TTTGTGTTCACAAGCT-1          E7
TTTGTGTTCACCTGTC-1          E7
TTTGTGTTCTTGTCTG-1          E7
TTTGTTGGTGCACGCA-1          E7

[79592 rows x 1 columns]

In [57]:
adata_combined.var

Empty DataFrame
Columns: []
Index: [Xkr4, Gm1992, Gm19938, Gm37381, Rp1, Sox17, Gm37587, Gm37323, Mrpl15, Lypla1, Tcea1, Rgs20, Gm16041, Atp6v1h, Oprk1, Npbwr1, Rb1cc1, 4732440D04Rik, Alkal1, St18, Pcmtd1, Gm26901, Gm30414, Sntg1, Rrs1, Adhfe1, 2610203C22Rik, Vxn, Gm29520, Mybl1, Vcpip1, 1700034P13Rik, Sgk3, Mcmdc2, Snhg6, Tcf24, Ppp1r42, Gm15818, Cops5, Cspp1, Arfgef1, Cpa6, Prex2, A830018L16Rik, Gm17644, Gm29663, Sulf1, Slco5a1, Gm29283, Prdm14, Ncoa2, Gm29570, Tram1, Lactb2, Xkr9, Eya1, Gm9947, Msc, Trpa1, Kcnb2, Terf1, Sbspon, 4930444P10Rik, Rpl7, Rdh10, Gm28095, Stau2, Gm7568, Ube2w, Eloc, D030040B21Rik, Tmem70, Ly96, Gm28376, Jph1, Gm28783, Gdap1, Gm28784, Pi15, Gm28154, Gm16070, Crispld1, Gm28153, Gm28756, Crisp4, Defb18, Defb41, Gm15825, Tfap2d, Tfap2b, Gm28340, Pkhd1, 4930486I03Rik, Gm28653, Il17a, Il17f, Mcm3, Gm28065, 6720483E21Rik, Paqr8, ...]

[32285 rows x 0 columns]

# Add metadata

In [58]:
metadata = pd.read_csv("./Github/Matthias_sn_data_2025/data/metadata_Matthias_sn_data_2025.csv",sep= ',') 
metadata

  sample_name  Genotype     Sample_ID
0         D11  KDM6A_WT  D11_KDM6A_WT
1          E7  KDM6A_WT   E7_KDM6A_WT
2          E5  KDM6A_KO   E5_KDM6A_KO
3          E6  KDM6A_KO   E6_KDM6A_KO

In [59]:
adata_combined.obs = adata_combined.obs.merge(metadata, how='left', on='sample_name')
adata_combined

AnnData object with n_obs Ã n_vars = 79592 Ã 32285
    obs: 'sample_name', 'Genotype', 'Sample_ID'

In [60]:
adata_combined.obs

      sample_name  Genotype     Sample_ID
0             D11  KDM6A_WT  D11_KDM6A_WT
1             D11  KDM6A_WT  D11_KDM6A_WT
2             D11  KDM6A_WT  D11_KDM6A_WT
3             D11  KDM6A_WT  D11_KDM6A_WT
4             D11  KDM6A_WT  D11_KDM6A_WT
...           ...       ...           ...
79587          E7  KDM6A_WT   E7_KDM6A_WT
79588          E7  KDM6A_WT   E7_KDM6A_WT
79589          E7  KDM6A_WT   E7_KDM6A_WT
79590          E7  KDM6A_WT   E7_KDM6A_WT
79591          E7  KDM6A_WT   E7_KDM6A_WT

[79592 rows x 3 columns]

In [61]:
combined_path = os.path.join(base_dir, f"matthias_sn_concat_raw_{timestamp}.h5ad")
adata_combined.write(combined_path)